@media only screen and (max-width: 800px){
    *{
        width: auto;
    }
    #container1 #name {
        padding-top: 0px;
    }
    #name #info {
        padding-top: 16px;
        font-weight: 500;
    }
    #name h1 {
        font-size: 84px;
    }
    #container1{
        grid-template-columns: auto;
        grid-template-rows: 1fr 1.25fr;
        grid-row-gap: 20px;
    }
    .grid1 img {
        object-fit: cover;
        height: 75%;
        display: flex;
        width: 52%;
        background-color: transparent;
        align-content: center;
        justify-content: center;
    }
    #scroll {
        height: 120px;
        width: 120px;
        position: absolute;
        bottom: -67vw;
        left: 43vw;
    }
    #container2 {
        width: 100%;
        max-width: 1120px;
        flex-direction: column;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    #container2 #image , #container3 #image1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #container2 #info1 , #container3 #info2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #container3 {
        width: 100%;
        max-width: 1120px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        margin-top: 20px;
        padding-bottom: 53px;
        border-bottom: 1px solid gainsboro;
    }
    #container3 #info2 {
        height: 100%;
        width: 100%;
        padding: 50px 0px 0px 61px;
        font-size: 32px;
        font-weight: 600;
        flex-direction: row;
    }
    #container3 #image1 {
        height: 100%;
        width: 100%;
        padding-top: 52px;
    }
    #container3 span {
        color: red;
        font-size: 34px;
        padding-left: 20px;
    }
    #container4 {
        width: 100%;
        max-width: 1120px;
        height: auto;
        padding: 10px;
        margin-top: 20px;
        padding-top: 26px;
        display: grid;
        grid-template-rows: 1.25fr 1.5fr;
        grid-column-gap: 60px;
        grid-template-columns: auto;
    }
    #container4 #info4{
        padding-top: 0;
    }
    #container5{
        height: auto;
    }
 
    .project {
        width: 100%;
        max-width: 1120px;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
    #project2, #project4{
        flex-flow: column-reverse;
    }
    .proimg{
        padding-top: 10px;
    }
    .proinfo13 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .proinfo13 h3 {
        padding-top: 56px;
        font-size: 15px;
    }
    #connect2 {
        margin-left: 199px;
        padding-top: 40px;
        padding-bottom: 40px;
        height: auto;
    }
    #container2 #resumeimg {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        position: absolute;
        top: 202vw;
        left: 11vw;
    }
    #solidimg{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}